<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
        <label for="category_name">Enter cateogry name</label>
        <input type="text" name="category_name" id="category_name" value="<%= typeof category === 'undefined' ? '' : category.name %>">
        <label for="category_description">Enter cateogry description</label>
        <input type="text" name="category_description" id="category_description" value="<%= typeof category === 'undefined' ? '' : category.description %>">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
