<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= `Delete category: ${category.name}` %></title>
</head>
<body>
    <h1><%= `Delete category: ${category.name}` %></h1>
    <p>Are you sure you want to remove this category and all its items?</p>
    <form method="post">
        <input type="hidden" name="categoryId" value="<%= category._id %>">
        <input type="submit" value="Delete">
    </form>
</body>
</html>