<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% list.forEach(listItem => { %>
        <li>
          <a href="<%= listItem.url %>"><%= listItem.name %></a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
